{%extends "base.html"%}

{%block content %}

<style>
    .submitBtnStyle {
        background-color: #237d68;
        color: aliceblue;
    }

    .submitBtnStyle:hover {
        background-color: #175144;
        transition: .3s;
    }
</style>

<div class="container box-spcae url-box" style="border: 1px solid #237d68;">
    <h1>Hawaii URL Shortener</h1>
    <form id="url-form">
        {% csrf_token %}
        <div class="form-group box-spcae">
            <label id="urlLabel" for="url">Enter URL</label>
            <input type="url" class="form-control" id="longLink" name="longLink" aria-describedby="inputUrl"
                placeholder="Enter URL">
        </div>
        <div class="form-group box-spcae">
            <label for="urlOutput">Shortened URL</label>
            <h4 id="short-url-display"></h4>

        </div>

</div>
<div class="form-group box-spcae container">
    <button type="submit" class="btn submitBtnStyle" id="submit-btn-function">Submit</button>
    <button name="copy" class="btn submitBtnStyle copy-btn" id="copy-btn">Copy</button>
</div>
</form>

<script>
    $('#url-form').ready(function () {
        $('#submit-btn-function').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/shorten',
                data: {
                    link: $('#longLink').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    $('h4').html("https://etsurl.com/" + data)
                }
            });
        })


        $('#copy-btn').click(function(e){
            e.preventDefault();
            var text = document.getElementById('short-url-display').innerHTML;
            navigator.clipboard.writeText(text);
        })
    })
</script>

{%endblock%}