{%extends "base.html"%}

{%block content %}

<style>
    .submitBtnStyle {
        background-color: #237d68;
        color: aliceblue;
    }

    .submitBtnStyle:hover {
        background-color: #175144;
        transition: .3s;
    }

    #short-box {
        display: none;
    }
</style>

<div class="container box-spcae url-box" style="border: 1px solid #237d68; height: 300px;">
    <h1>Hawaii URL Shortener</h1>
    <form id="url-form">
        {% csrf_token %}
        <div class="form-group box-spcae">
            <label id="urlLabel" for="url">Enter URL</label>

            <div class="input-group">
                <input type="url" class="form-control" id="longLink" name="longLink" aria-describedby="inputUrl"
                    placeholder="Enter URL">

                <div class="input-group-append">
                    <button type="submit" class="btn submitBtnStyle" id="submit-btn-function">Submit</button>
                </div>
            </div>

        </div>
        <div class="form-group box-spcae">
            <label for="urlOutput">Shortened URL</label>
            <h4 id="short-url-display"></h4>
            <div id="short-box">
                <button name="copy" class="btn submitBtnStyle copy-btn" id="copy-btn">Copy</button>
            </div>
        </div>

    </form>
    </div>
</form>

<script>
    $('#url-form').ready(function () {
        $('#submit-btn-function').click(function (e) {
            e.preventDefault();
            var s = document.getElementById("short-box")
            $.ajax({
                type: 'POST',
                url: '/shorten',
                data: {
                    link: $('#longLink').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    if (data != "error"){
                        $('h4').html(data)
                        s.style.display = "inline"
                    }else{
                        alert("Please provide a link containing the .gov domain!");
                        s.style.display = "none"
                        $('h4').html("")
                    }
                }
            });
        })


        $('#copy-btn').click(function (e) {
            e.preventDefault();
            var text = document.getElementById('short-url-display').innerHTML;
            navigator.clipboard.writeText(text);
        })
    })
</script>

{%endblock%}