{%extends "base.html"%}

{%block content %}
<div class="row" style="padding-left: 30px; padding-top: 30px;">
    <div class="col">
        <input type="search-field" class="form-control" placeholder="Type here to Search">
    </div>
    <div class="col">
        <button type="search-btn" class="btn btn-primary">Search</button>
    </div>
</div>

<div class="table-responsive" style="padding: 30px;">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-3">Short URL</th>
            <th class="col-9">Long URL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-3">Short goes here</td>
            <td class="col-9">Long goes here</td>
          </tr>
        </tbody>
      </table>
</div>

{%endblock%}