{%extends "base.html"%}

{%block content %}

<style>
    .button{
        background-color: rgb(187, 0, 0);
        border-color: rgb(187, 0, 0);
        border-radius: 10%;
        box-shadow: none;
        color: white;
    }
    .button:hover {
      background-color:rgb(255, 145, 145);
      border-color: rgb(255, 145, 145);
      color: black;
      transition: 0.1s;
  }
</style>

<div class="row" style="padding-left: 30px; padding-top: 30px;">
    <div class="col">
        <input type="search-field" class="form-control" placeholder="Type here to Search" >
    </div>
    <div class="col">
        <button type="search-btn" class="btn btn-primary">Search</button>
    </div>
</div>

<div class="table-responsive" style="padding: 30px;">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="col-3">Short URL</th>
                <th class="col-9" style="border-left-style: solid;">Long URL</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for instance in object_list %}
            <tr>
                <td><button type="copy" class="btn btn-primary" style="height:35px;">Copy</button></td>
                <td class="col-3">localhost:8000/{{instance.shortCode}}</td>
                <td class="col-9" style="border-left-style: solid;">{{instance.longLink}}</td>
                <td><button type="delete" class="button" style="height:35px;">Delete</button></td>
            </tr>
            {%endfor %}
        </tbody>
    </table>
</div>

<script>
</script>

{%endblock%}