{%extends "base.html"%}

{%block content %}
<style>
    .searchStyle {
        color: #fff;
        background-color: #237d68;
        border-color: #237d68;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid transparent;
    }

    .searchStyle:hover {
        cursor: pointer;
        background-color: #1c6856;
        transition: .3s;
    }

    .table-header {
        color: #77b9a9;
        background-color: rgb(49, 49, 49);
    }

    /* .btn-check-url{
        color: #1c6856;
        border-radius: 5px;
        border: solid 1.5px #1c6856;
        background-color: transparent;
        transition: .5s;
    }
    .btn-check-url:hover{
        color: white;
        border-radius: 5px;
        border: solid 1.5px white;
        background-color: #1c6856;
        transition: .5s;
    } */

    .ip-display {
        background-color: white;
    }

    .ip-display td {
        border: transparent;
        text-align: center;
        padding-bottom: 30px;
    }
</style>


<div class="input-group container" style="padding-left: 0px; padding-top: 30px; display: flex;">
    {% csrf_token %}
    <input type="search-field" class="form-control" name="searchfield" id="searchfield"
        placeholder="Type here to Search">
    <div class="input-group-append">
        <button type="button" class="btn searchStyle" id="search" name="search">Search</button>
        <button type="button" class="btn searchStyle" id="reset" name="reset" onClick="window.location.reload();">Reset
            Search</button>
    </div>
</div>

<div class="" style="padding: 30px;">
    <!-- <button class="btn btn-check-url">Check URLs</button> -->
    <table class="table">
        <thead>
            <tr class="table-header" style="text-align: center;">
                <th class="col-1"></th>
                <th class="col-1">Creation Date</th>
                <th class="col-1">Visited</th>
                <th class="col-2">Short URL</th>
                <th class="col-6" style="border-left-style: solid;border-left-color: rgba(121, 121, 121, 0.686)">Long
                    URL</th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody class="table-body">
            {%for instance in object_list %}
            <tr class="record">
                <td class="col-1"><button name="copy" class="btn btn-primary copy-btn" style="height:35px;"
                        short-add={{instance.shortCode}}>Copy</button></td>
                <td style="text-align: center;">{{instance.creationDate}}</td>
                <td style="text-align: center;">{{instance.clicks}}</td>
                <td class="col-2">https://etsurl.com/{{instance.shortCode}}</td>
                <td class="col-8" style="border-left-style: solid; border-left-color: rgba(121, 121, 121, 0.686);">
                    {% if instance.longLink|length > 50%}
                    {{instance.longLink|slice:"0:50"}}....................
                    {%else%}
                    {{instance.longLink}}
                    {%endif%}
                </td>
                <td class="col-1"><a href="{%url 'delete_data' instance.id%}" id="delete" class=" delete btn btn-danger"
                        style="height:35px; opacity: 100%;">Delete</a></td>
            </tr>
            <tr class="ip-display">
                <td></td>
                <td></td>
                <td></td>
                <td>
                    {%for i in ipset_list %}
                    {%if i.id == instance.id  %}
                    <li>{{i.ip_address}}</li>
                    {%endif%}
                    {%endfor%}
                </td>
                <td></td>
                <td></td>


            </tr>
            {%endfor %}
        </tbody>
    </table>
</div>

<script>
    const copyBtn = [...document.getElementsByName('copy')]

    $(".delete").on("click", function (e) {
        e.preventDefault();
        var $this = $(this);
        if (confirm("Are you Sure?")) {
            $.ajax({
                url: $this.attr("href"),
                type: "GET",
                dataType: "json",
                success: function (resp) {
                    if (resp.message === 'success') {
                        $this.parents('.record').fadeOut("slow", function () {
                            $this.parents('.record').remove();
                        });
                    }
                    else {
                        alert(resp.message);
                    }
                },
                error: function (resp) {
                    console.log("something is wrong");
                }
            });
        }
        return false;
    })

    copyBtn.forEach(btn => btn.addEventListener('click', () => {
        const addShort = btn.getAttribute('short-add')
        navigator.clipboard.writeText('https://etsurl.com/' + addShort)

    }))

    $("#search").on("click", function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/manage/search',
            data: {
                keyword: $('#searchfield').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (resp) {
                $(".table-body").html(resp);
            }
        });
    });
</script>

{%endblock%}